<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>JobSearchPortalClient</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>ValidateLogon</display-name>
    <servlet-name>ValidateLogon</servlet-name>
    <servlet-class>
    	com.jobSearch.servlets.ValidateLogon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateLogon</servlet-name>
    <url-pattern>/ValidateLogon</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    	<display-name>CreateUser</display-name>
    	<servlet-name>CreateUser</servlet-name>
    	<servlet-class>
    	com.jobSearch.servlets.CreateUser</servlet-class>
    </servlet>
    
    <servlet-mapping>
    	<servlet-name>CreateUser</servlet-name>
    	<url-pattern>/CreateUser</url-pattern>
    </servlet-mapping>
</web-app>